.boxes {
  display: flex;
  justify-content : space-between;
}
.demo {
  width : 100px;
  height: 100px;
  background-color: gray;
}
.c1{
  background-color : red;
}
.c2{
  background-color : green;
}
.c3{
  background-color : blue;
}
.girar {
  transform: rotate(45deg);
}

/* DESAFIO 04 */

#efeito {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.destaque {
	background-color: red;
	width: 200px !important;
}

.encolher {
	background-color: gray;
	width: 50px !important;
}

.exemplo1 {
  background-color: blue;
  color: white;
}
.exemplo2 {
  background-color: black;
  color: white;
}
.exemplo3 {
  background-color: green;
  color: white;
}
.exemplo4 {
  background-color: red;
  color: white;
}

.vermelho {
  background-color: red;
  color: white;
}
.preto {
  background-color: black;
  color: white;
}

/* progrees */
.progress{
    height: 15px;
    background-color: red;
    position: relative;
}

.progress .progress-bar{
   position: absolute;
   height: 100%;
   background-color: green;
   /* animation: progress-animation 6s infinite; */
   animation: progress-animation 6s
}


@keyframes progress-animation{
    0% { width: 0%; }
    100% { width: 100%}
}
